.active {
    background: #5EF2E9;
    box-shadow: 0px 0px 4px 3px #393BE1;
}

.unactive {
    background-color: #383ADC;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 18px;
}
