.footer-wrapper {
    position: absolute;
    right: 0;
    bottom: 15px;
}

.footer {
    display: flex;
    justify-content: right;
    /* margin-top: 90px; */
}

.footer a {
    margin-right: 15px;
}

/* .footer i:hover {
    color: #0fe4d6;
    transition: all .3s ease;
} */

.footer a:last-child {
    margin-right: 45px;
}

a:hover {
    color: #5AE5E3;
}

.nav-links {
    margin-right: 10px;
    text-decoration: none;

}

.nav-links::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.nav-links:hover::after {
    width: 100%;
}